<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>

<body>
    <%- include('../partials/header.ejs') %>
    <hr>

    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/businessprocesses/<%= capabilityId %>/<%=businessProcess._id%>">Back</a>
        </li>
        <!-- <a href="/businessprocesses/<%= capabilityId %>/<%=businessProcess._id%>">Back</a> -->
    </ul>
    <hr>
    <form action="/businessprocesses/<%= capabilityId %>/<%=businessProcess._id%>?_method=PUT" method="post" class="mb-3">
        <fieldset>

            <legend> Edit Business Process </legend>

            <label> Name: 
                <input type="text" name="name" value="<%= businessProcess.name %>">
            </label>

            <label> Purpose: 
                <input type="text" name="purpose" value="<%= businessProcess.purpose %>">
            </label>

        </fieldset>

        <input type="submit" value="Save changes" class="btn btn-outline-primary">
        <a href="/businessprocesses/<%= capabilityId %>/<%=businessProcess._id%>">
            <button class="btn btn-outline-danger">
                Cancel
            </button>
        </a>
    </form>


    
</body>
</html>

