<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>

<body>
    <%- include('../partials/header.ejs') %>
    <hr>

    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/businessprocesses/<%= capabilityId %>/<%=businessProcess._id%>">Back</a>
        </li>
        <!-- <a href="/businessprocesses/<%= capabilityId %>/<%=businessProcess._id%>">Back</a> -->
    </ul>
    <hr>
    <div class="container">
        <form class="mb-3" action="/businessprocesses/<%= capabilityId %>/<%=businessProcess._id%>?_method=PUT" method="post" class="mb-3">
            
            <fieldset>
    
                <legend> Edit Business Process </legend>
                <hr>
                <label> Process Name: 
                    <input type="text" name="name" value="<%= businessProcess.name %>">
                </label>
                <br><br>
                <label>Process Owner: </label>
                <input type="text" name="processOwner" value="<%= businessProcess.processOwner %>">
                <br><br>
                <label> Purpose: </label>
                    <!-- <input type="text" name="purpose" value="<%= businessProcess.purpose %>"> -->
                    <textarea class="form-control" name="purpose" cols="30" rows="10" required>
                        <%= businessProcess.purpose %>
                    </textarea>
    
               
            </fieldset>
            <br> <br>
            <input type="submit" value="Save changes" class="btn btn-outline-primary">
            <a href="/businessprocesses/<%= capabilityId %>/<%=businessProcess._id%>">
                <button class="btn btn-outline-danger">
                    Cancel
                </button>
            </a>
        </form>
    </div>
    


    
</body>
</html>

