<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>

<body>
    <%- include('../partials/header.ejs') %>
    <hr>
    <ul class="nav">
        <li class="nav-item"> <a class="nav-link" href="/capabilities/<%= capabilityId %>">Back</a> </li>
    </ul>
    <hr>
    <h2>Processes for <%= capabilityName %></h2>
    <hr>
    <a href="/businessprocesses/<%= capabilityName %>/<%= capabilityId %>/new"> <button class="btn btn-outline-primary"> Add New Process </button> </a> 
    <br><br>
    <form action="/businessprocesses/<%= capabilityId %>?_method=DELETE" method="POST">
        <input type="submit" value="Delete all processes" class="btn btn-outline-danger">
    </form>
<br><br>
    <!-- <div>
        <a href="/businessprocesses/new/<%=capabilityId%>""> <button> Add New Process </button> </a> 
    </div> -->
    <!-- <div>
        <form action="/businessprocesses/<%= capabilityId %>?_method=DELETE" method="POST">
            <input type="submit" value="Delete all processes">
        </form>
        
    </div> -->
   


    <!-- <ul> -->
        <% processes.forEach((process, i)=>{ %>

            <!-- <li>
                <a href="/businessprocesses/<%=capabilityId%>/<%=process._id%>"> <%= process.name %> </a>
            </li> -->
            
            <div class="container"> 
                <div class="row">

                    <div class="col-2">
                        <!-- <h3>
                            <a href="/businessprocesses/<%=capabilityId%>/<%=process._id%>"> <%= process.name %> </a>
                        </h3> -->
                       
                    </div>

                    <div class="col-10">
                        <!-- <h3>
                            <a href="/businessprocesses/<%=capabilityId%>/<%=process._id%>"> <%= process.name %> </a>
                        </h3> -->
                        <h3>
                            <a href="/businessprocesses/<%=capabilityId%>/<%=process._id%>"> <%= i + 1 %> . <%= process.name %> </a>
                        </h3>
                        <p class="text-truncate"><%= process.purpose %></p>                         
                    </div>

                    <!-- <div class="col-8">
                        <p><%= process.purpose %></p>
                    </div> -->

                </div>
            </div>


        <% }) %>
            
    <!-- </ul> -->
    

</body>
</html>

