<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>

<body>
    <%- include('../partials/header.ejs') %>
    <hr>

   


<main class="container">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/businessprocesses/<%= capabilityName %>/<%= capabilityId %>/index">Back</a>
        </li>
    </ul>
    <hr>
    <div>
        <form class="mb-3" action="/businessprocesses/<%= capabilityId %>" method="POST">
            <fieldset>
                <legend> Add Business Process for <%= capabilityName %> </legend>
                <hr>
                <label class="form-label">
                    Business process name:
                </label>
                    
                    <input class="form-control" type="text" name="name" required>
                <br>

                <label class="form-label">Process Owner</label>
                <input class="form-control" type="text" name="processOwner" required>
                <br>
                
                <label class="form-label">
                    Standard Operating Procedure:
                </label>
                    <!-- <textarea class="form-control" type="text" name="purpose" required> -->
                        <textarea class="form-control" name="purpose"  cols="30" rows="10" required></textarea>
            </fieldset>
            <br>
            <input type="submit" value="Add Business Process" type="button" class="btn btn-outline-primary">
            
        </form>

        <a href="/businessprocesses/<%= capabilityName %>/<%= capabilityId %>/index">
            <button class="btn btn-outline-danger">
                Cancel
            </button>
        </a>

    </div>
</main>

</body>
</html>    
