<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>

<body>
    <%- include('../partials/header.ejs') %>

    <nav>
        <a href="/capabilities/<%= capabilityId %>">Back</a>
        <!-- <a href="/businessprocesses/<%= capabilityId %>/<%= businessProcess._id %>/edit">Edit Process</a> -->
    </nav>
    <hr>
    <h3>Name: <%= businessProcess.name %></h3>
    <br>
    <a href="/businessprocesses/<%= capabilityId %>/<%= businessProcess._id %>/edit"><button>Edit Process</button></a>
    
    <form action="/businessprocesses/<%= capabilityId %>/<%= businessProcess._id %>?_method=DELETE" method="POST">
        <input type="submit" value="Delete">
    </form>
    <hr>
    <h3>Purpose:</h3> 
    <p><%= businessProcess.purpose %></p>

    <!-- <a href="/businessprocesses/<%= capabilityId %>/<%= businessProcess._id %>/edit">Edit</a> -->

 

</body>
</html>

