<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>

<body class="container">
    <%- include('../partials/header.ejs') %>
<hr>
    <ul class="nav">
        <li class="nav-item">
            <a href="/capabilities/<%= capabilityId %>" class="nav-link navlinks">Back</a>
        </li>        
        <!-- <a href="/businessprocesses/<%= capabilityId %>/<%= businessProcess._id %>/edit">Edit Process</a> -->
    </ul>
    <hr>
    <h3 class="container"><%= businessProcess.name %> Process Document</h3>
    <br>

    <% if(showOptions){ %>
        <div class="container">
            <a href="/businessprocesses/<%= capabilityId %>/<%= businessProcess._id %>/edit"><button class="btn btn-outline-primary">Edit Process</button></a>
            <br><br>
            <form action="/businessprocesses/<%= capabilityId %>/<%= businessProcess._id %>?_method=DELETE" method="POST">
                <input type="submit" value="Delete" class="btn btn-outline-danger">
            </form>
        </div>
    <% } %> 
    
    <!-- <div class="container">
        <a href="/businessprocesses/<%= capabilityId %>/<%= businessProcess._id %>/edit"><button class="btn btn-outline-primary">Edit Process</button></a>
        <br><br>
        <form action="/businessprocesses/<%= capabilityId %>/<%= businessProcess._id %>?_method=DELETE" method="POST">
            <input type="submit" value="Delete" class="btn btn-outline-danger">
        </form>
    </div> -->
    
    <hr>
    <div class="container">
        <p>Process Owner: <%= businessProcess.processOwner %></p>
        <h3>Standard Operating Procedure:</h3> 
        <p><%= businessProcess.purpose %></p>
    </div>

    <!-- <a href="/businessprocesses/<%= capabilityId %>/<%= businessProcess._id %>/edit">Edit</a> -->

 

</body>
</html>

