<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>

<body>
    <%- include('../partials/header.ejs') %>

    <nav>
        <a href="/capabilities/<%=capability._id%>">Back</a>
        <hr>
        
    </nav>
    
    <div>
        <form action="/capabilities/<%= capability._id %>?_method=PUT" method="POST">

            <fieldset>

                <legend>Edit <%= capability.capabilityName %></legend>
                <br>
                <hr>
                <label> Capability Name:
                    <input 
                        type="text" 
                        name="capabilityName" 
                        value="<%= capability.capabilityName %>"
                        placeholder = "<%= capability.capabilityName %>">
                </label>
                <br><br>
                <label> Value enabled by this capability:
                    
                    <!-- <input 
                        type="text" 
                        name="valueEnabled" 
                        value="<%= capability.valueEnabled %>"
                        placeholder = "<%= capability.valueEnabled %>"> -->
                        <input 
                        type="text" 
                        name="valueEnabled" 
                        value="<%= capability.valueEnabled %>"
                        placeholder = "<%= capability.valueEnabled %>"
                        style= "width: 80%;height:100px">
                </label>

            </fieldset>
            <br>
            <input type="submit" value="Save changes" class="btn btn-outline-primary">
            <a href="/capabilities/<%= capability._id %>"><button class="btn btn-outline-danger">Cancel</button></a>
        </form>
    </div>
    

</body>

</html> 