<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>

<body>
    <%- include('../partials/header.ejs') %>
    <hr>
<ul class="nav">
    <li class="nav-item">
        <a class="nav-link navlinks" href="/">How it works</a>
    </li>
    <li class="nav-item">
        <a class="nav-link navlinks" href="/capabilities/new">Add Capability</a>
    </li>
    <li class="nav-item">
        <a class="nav-link navlinks" href="/users/logout">Logout</a>
    </li>   
    
</ul>
<hr>
    <div class = "container" >
        <% capabilities.forEach((capability, i)=>{ %>

            <div class="row">

                <div class="col">

                    <h4> <%= i + 1 %>.

                        <a href="/capabilities/<%= capability._id %>">
                            <%= capability.capabilityName %>
                        </a> 
                    
                    </h4>

                </div>
                
                <div class="col text-truncate">
                    <p>
                        <%= capability.valueEnabled %>
                    </p>
                    
                </div>    
            </div>
            <hr>    
                

        <% }) %>
    </div>


</body>

</html>