<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>

<body>
    <%- include('../partials/header.ejs') %>

    <nav>
        <a href="/capabilities">Back</a>
        <hr>
        <a href="/capabilities/<%=capability._id%>/edit">Edit Capability</a>
        <hr>
        <a href="/businessprocesses/<%=capability._id%>/new">Add Business Process</a>
    </nav>
    
    <div>
       <article>
            <h2> <%= capability.capabilityName %></h2>
            <p>Value: <%= capability.valueEnabled %></p>
            <form action="/capabilities/<%= capability._id %>?_method=DELETE" method="POST">
                <input type="submit" value="Delete">
            </form>
            
            <% if(capability.businessProcesses.length > 0){ %>
                <ul>
                    <% capability.businessProcesses.forEach((businessProcess)=>{ %>
                        <li> <a href="/businessprocesses/<%= capability._id %>/<%= businessProcess.businessProcessId %>"> <%= businessProcess.businessProcessName %> </a></li>
                    <% }) %>
                </ul>
                
            <% } %>
            
  
           

       </article>
    </div>
    

</body>

</html> 