<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>

<body>
    <%- include('../partials/header.ejs') %>
    <hr>
    <!-- <nav>
        <div class="nav-item">
            <a class="nav-link" href="/capabilities">Back</a>
        </div>
    </nav> -->

    <ul class="nav container">
        <li class="nav-item">
            <a class="nav-link navlinks" href="/capabilities">Back to Capabilities</a>
        </li>
        <li class="nav-item">
            <a class="nav-link navlinks" href="/businessprocesses/<%= capability.capabilityName %>/<%= capability._id %>/index"> View Processes </a>
        </li>      
    </ul>

    <hr>
    <div class="container">
        <a href="/capabilities/<%=capability._id%>/edit">
            <button type="button" class="btn btn-outline-secondary">
                Edit Capability
            </button>    
        </a>
                
        <br><br>

        <form action="/capabilities/<%= capability._id %>?_method=DELETE" method="POST">
            <input type="submit" value="Delete" class="btn btn-outline-danger"> 
        </form>
    </div>

        <!-- <hr>
        <a href="/businessprocesses/new/<%=capability._id%>">Add Business Process</a> -->

    
    <div>

        <div class="container-flex">
            <div class="row">
                <div class="col">
                    
                    <!-- <a href="/businessprocesses/<%= capability.capabilityName %>/<%= capability._id %>/index"><button> View Processes </button> </a> -->
                    


                </div>
                <div class="col-9">

                    <h2> <%= capability.capabilityName %></h2>
                    <h3> Value enabled: </h3> 
                    <p><%= capability.valueEnabled %></p>

                </div>
                
            </div>

        </div>
          

    </div>



    <!-- <div>
        <form action="/businessprocesses/<%= capability._id %>?_method=DELETE" method="POST">
            <input type="submit" value="Delete all processes">
        </form>
        
    </div> -->

</body>

</html> 